html::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #121212;
}

.pagina_total{
    margin: 0 9.375% 0 9.375%;
}

.texto{
    color: #B3B0B8;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.video__seta{
    padding-right: 20px;
}

.video__titulo{
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.titulo{
    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.material_titulo{
    padding: 16px 0 16px 0;
}

.titulo_video{
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 30px 0 30px 0;
}

.video-container { 
    position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; 
    border-radius: 10px;
}

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

.principal{
    display: grid;
    grid-gap: 2%;
    margin-bottom: 34px;
}

.video{
    grid-column: 1 / 9;
}

.material{
    grid-column: 9 / 12;
    background-color: #2B2C33;
    border-radius: 10px;
    padding: 0 24px 0 24px;
}

.material_conjunto{
    display: flex;
    flex-direction: column;
}

.material__botao{
    align-self: center;
    background-image: linear-gradient(to right, #E8472C , #E53D37);
    padding: 9px 23px 8px 23px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 12px;
}

.comentarios{
    grid-column: 1/12;
    grid-row: 2/12;
    background-color:#2B2C33;
    border-radius: 10px;
}

.comentarios_secao-nome{
    color: #EAEAEA;
    font-weight: 500;
}

.comentarios_secao{
    margin: 27px 0 0 24px;
}

.comentarios_secao-grid{
    display: grid;
    grid-template-columns: 36px 110px auto auto auto auto ;
    grid-template-rows: 18.5px 18.5px 30px auto;
    row-gap: 1px;
    column-gap: 10px;
}

.comentarios_secao-grid2{
    display: grid;
    grid-template-columns: 36px 110px auto auto auto auto ;
    grid-template-rows: 18.5px 18.5px 30px 30px auto;
    row-gap: 1px;
    column-gap: 10px;
}

.comentario_secao-data{
    grid-row: 2/span 1;
    grid-template-columns: 1/1;
}

.comentarios_secao-img{
    grid-row: 1/ span 2;
}

.comentario_secao-texto{
    grid-row: 3/ 5;
    grid-column: 1/span 4;
    align-self: flex-end;
}

.comentario-coracao{
    grid-row: 3/1;
    grid-template-columns: 4/ span 1;
    display: flex;
}

.secao-img{
    align-self: center;
}

.contagem-comentario{
    align-self: center;
    padding-bottom: 2px;
}

.imagem-macaco{
    width: 36px;
    height: 36px;
    object-fit:cover;
    border-radius: 100%;
}

.comentarios_secao-comentario{
    margin: 8px 0 16px 0;
    display: flex;
}

.comentario_secao-comentario-img{
    width: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.pointer{
    cursor: pointer;
}

.inativo{
    filter: invert(81%) sepia(1%) saturate(3054%) hue-rotate(222deg) brightness(95%) contrast(72%);


}

.ativo{
    filter: invert(36%) sepia(85%) saturate(4497%) hue-rotate(345deg) brightness(97%) contrast(85%);
}

.comentario_secao-linha{
    margin-bottom: 18px;
    margin-top: 16px
}

.comentarios-titulo{
    padding: 24px 0 0 24px;
}

.comentarios-sub{
    padding: 8px 0 0 24px;
}

.comentarios_secao-video{
    padding: 24px 0 0 24px;
}

.comentar{
    width: 100%;
    padding: 9px 5px 8px 20px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

input[type="text"], textarea {
    color: #B3B0B8;
    font-family: 'Roboto', sans-serif;
    background-color : #454652; 
  
}


.comentar_botao{
    color: #EAEAEA;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.linha-vertical{
    border-right: 1px solid #454652;
    padding: 0 5px 0 5px;
}

.linha-vertical-comentada{
    border-right: 1px solid #454652;
    padding: 0 5px 0 5px;
    height: 38px;
}

hr.linha{
  border: 1px solid #454652;
}

@media screen and ( max-width: 768px){
    .video{
        grid-column: 1/12;
    }
    .material{
        grid-column: 1/12;
    }
    .material__botao{
        margin-bottom: 12.5px;
    }
}

@media screen and ( max-width: 1024px){
    .video{
        grid-column: 1/12;
    }
    .material{
        grid-column: 1/12;
    }
    .material__botao{
        margin-bottom: 12.5px;
    }
}
